<div class="container">
  <%= form_tag import_path multipart: true do %>
    <h3>Import file of Secret Santa participants</h3>
    <div class="form-horizontal">
      <div class="form-group">
        <%= label_tag('currentyear', 'Year:', class: 'col-sm-1')%>
        <div class="col-sm-2">
          <%=  number_field_tag 'currentyear', @this_year , in: @this_year...2030 , class: 'form-control' %>
        </div>
        <div class="col-sm-9"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <%= file_field_tag :file , class: 'form-control'%>
        </div>
      </div>
      <div class="form-group" >
        <div class="col-sm-12">
          <%= submit_tag "Import" , class: "btn btn-default"%>
        </div>
      </div>
    </div>
  <% end %>
</div>
