<div class="container">
  <div class="well"><h4>
    Secret Santa participant: <%= @person.name %>
    </h4>
  </div>
  <table class="table">
    <thead>
      <th>Year</th>
      <th>Secret Santa for</th>
      <th>Partner</th>
      <th>Secret Santa from last year</th>
    </thead>
  <tbody>
    <% @people_secretsantas.each do |person_secretsanta| %>
    <tr>
      <td>
        <%= person_secretsanta.year %>
      </td>
      <td>
        <%= person_secretsanta.santa.name unless person_secretsanta.santa.nil?  %>
      </td>
      <td>
        <%= person_secretsanta.partner.name unless person_secretsanta.partner.nil?  %>
      </td>
      <td>
        <%= person_secretsanta.previous_santa.name unless person_secretsanta.previous_santa.nil?  %>
      </td>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>
