<!DOCTYPE html>
<html>
<head>
  <title>Secret Santa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse"  role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to glyph(:gift) + ' Secret Santa'.html_safe, root_path, class: "navbar-brand", id: "brand__santa" %>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li role="presentation" class="<%= 'active' if current_page?(controller: 'home_page', action: 'home') %>"> <%= link_to "Home", root_path %> </li>
          <li role="presentation" class="<%= 'active' if current_page?(controller: 'home_page', action: 'load') %>"> <%= link_to "Import", load_path %> </li>
          <li role="presentation" class="<%= 'active' if (current_page?(controller: 'home_page', action: 'archives') or current_page?("/people_secretsantas/#{params[:year]}")) %>"> <%= link_to "Previous Years", archives_path %> </li>
          <li role="presentation" class="<%= 'active' if (current_page?(controller: 'people', action: 'index') or current_page?("/people/#{params[:id]}")) %>"> <%= link_to "Participants", people_path %> </li>
          <li role="presentation" class="<%= 'active' if current_page?(controller: 'home_page', action: 'help') %>"> <%= link_to "Help", help_path %> </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container" >
    <% flash.each do |key, value| %>
    	<%= content_tag(:div, value, class: "alert alert-#{key}" ) %>
    <% end %>
  </div>

<%= yield %>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
